<div class="d-flex justify-content-between align-items-center my-4">
  <h1><%= t(".title", id: @conversation.id) %></h1>
  <%= link_to t(".back_to_conversations"), raif.admin_conversations_path, class: "btn btn-outline-secondary" %>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0"><%= t("raif.admin.common.details") %></h5>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.id") %>:</strong></div>
      <div class="col-md-9"><%= @conversation.id %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.creator") %>:</strong></div>
      <div class="col-md-9"><%= @conversation.creator_type %> #<%= @conversation.creator_id %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.type") %>:</strong></div>
      <div class="col-md-9"><%= @conversation.type %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.created_at") %>:</strong></div>
      <div class="col-md-9"><%= @conversation.created_at.rfc822 %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.entries_count") %>:</strong></div>
      <div class="col-md-9"><%= @conversation.conversation_entries_count %></div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0"><%= t("raif.admin.common.system_prompt") %></h5>
  </div>
  <div class="card-body">
    <pre><%= @conversation.entries.last&.system_prompt %></pre>
  </div>
</div>

<% if @conversation.entries.any? %>
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0"><%= t("raif.admin.common.conversation_entries") %></h5>
    </div>
    <div class="card-body">
      <div class="list-group">
        <%= render collection: @conversation.entries.order(created_at: :asc).includes(:raif_model_response),
              partial: "raif/admin/conversations/conversation_entry",
              as: :entry %>
      </div>
    </div>
  </div>
<% end %>
