<div class="message <%= message["role"] %> mb-3">
  <div class="message-header d-flex justify-content-between align-items-center mb-2 px-2">
    <strong class="<%= message["role"] == 'user' ? 'text-primary' : 'text-success' %>">
      <%= message["role"].capitalize %>
      <% if message[:counter] == 0 && message["role"] == 'user' %>
        (<%= t("raif.admin.common.initial_task") %>)
      <% end %>
    </strong>
    <span class="badge bg-secondary">#<%= message_count %></span>
  </div>

  <div class="message-content px-3 py-2">
    <code><%= message["content"] %></code>
  </div>
</div>
 