<%= form_with model: conversation_entry,
      url: raif.conversation_entries_path(conversation),
      local: true do |f| %>

  <% if conversation_entry.raif_user_tool_invocation %>
    <%= hidden_field_tag :user_tool_type, conversation_entry.raif_user_tool_invocation.class.name %>

    <%= fields_for :raif_user_tool_invocation, conversation_entry.raif_user_tool_invocation do |builder| %>
      <%= render "raif/user_tool_invocations/form/#{conversation_entry.raif_user_tool_invocation.tool_key}_fields", f: builder %>
    <% end %>
  <% end %>

  <div class="d-flex">
    <%= f.text_field :user_message,
          class: "form-control me-2",
          placeholder: conversation_entry.raif_user_tool_invocation&.message_input_placeholder.presence || t("raif.common.type_your_message"),
          aria_label: conversation_entry.raif_user_tool_invocation&.message_input_placeholder.presence || t("raif.common.type_your_message") %>

    <div class="d-flex justify-content-end align-items-end">
      <%= button_tag type: "submit", class: "btn btn-primary d-flex align-items-center" do %>
        <%= t("raif.common.send") %>
      <% end %>
    </div>
  </div>
<% end %>
