<h1 class="my-4"><%= t("raif.admin.common.tasks") %></h1>

<div class="row">
  <div class="col-12">
    <%= form_tag raif.admin_tasks_path, method: :get, class: "mb-4" do %>
      <div class="row align-items-end">
        <div class="col-md-4">
          <div class="form-group">
            <label for="task_types"><%= t("raif.admin.common.type") %></label>
            <%= select_tag :task_types,
                  options_for_select([["All", "all"]] + @task_types.map{|type| [type, type] }, @selected_type),
                  { class: "form-select" } %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="task_statuses"><%= t("raif.admin.common.status") %></label>
            <%= select_tag :task_statuses,
                  options_for_select(
                    [
                      [t("raif.admin.common.all"), :all],
                      [t("raif.admin.common.completed"), :completed],
                      [t("raif.admin.common.failed"), :failed],
                      [t("raif.admin.common.in_progress"), :in_progress],
                      [t("raif.admin.common.pending"), :pending]
                    ],
                    @selected_statuses
                  ),
                  { class: "form-select" } %>
          </div>
        </div>
        <div class="col-md-2">
          <%= submit_tag t("raif.admin.common.filter"), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <% if @tasks.any? %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-light">
            <tr>
              <th><%= t("raif.admin.common.id") %></th>
              <th><%= t("raif.admin.common.type") %></th>
              <th><%= t("raif.admin.common.created_at") %></th>
              <th><%= t("raif.admin.common.creator") %></th>
              <th><%= t("raif.admin.common.model") %></th>
              <th><%= t("raif.admin.common.status") %></th>
              <th><%= t("raif.admin.common.prompt") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "raif/admin/tasks/task", collection: @tasks %>
          </tbody>
        </table>
      </div>

      <div class="mt-4">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    <% else %>
      <div class="alert alert-info">
        <%= t("raif.admin.common.no_tasks") %>
      </div>
    <% end %>
  </div>
</div>
