<div class="d-flex justify-content-between align-items-center my-4">
  <h1><%= t(".title", id: @model_completion.id) %></h1>
  <%= link_to t(".back_to_model_completions"), raif.admin_model_completions_path, class: "btn btn-outline-secondary" %>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0"><%= t("raif.admin.common.details") %></h5>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.id") %>:</strong></div>
      <div class="col-md-9"><%= @model_completion.id %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.source") %>:</strong></div>
      <div class="col-md-9"><%= @model_completion.source_type %> #<%= @model_completion.source_id %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.model") %>:</strong></div>
      <div class="col-md-9"><%= @model_completion.llm_model_key %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.response_format") %>:</strong></div>
      <div class="col-md-9"><%= @model_completion.response_format %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.created_at") %>:</strong></div>
      <div class="col-md-9"><%= @model_completion.created_at.rfc822 %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.prompt_tokens") %>:</strong></div>
      <div class="col-md-9"><%= @model_completion.prompt_tokens ? number_with_delimiter(@model_completion.prompt_tokens) : "-" %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.completion_tokens") %>:</strong></div>
      <div class="col-md-9"><%= @model_completion.completion_tokens ? number_with_delimiter(@model_completion.completion_tokens) : "-" %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3"><strong><%= t("raif.admin.common.total_tokens") %>:</strong></div>
      <div class="col-md-9"><%= @model_completion.total_tokens ? number_with_delimiter(@model_completion.total_tokens) : "-" %></div>
    </div>
  </div>
</div>

<% if @model_completion.system_prompt.present? %>
<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0"><%= t("raif.admin.common.system_prompt") %></h5>
  </div>
  <div class="card-body">
    <pre class="pre-wrap"><%= @model_completion.system_prompt %></pre>
  </div>
</div>
<% end %>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0"><%= t("raif.admin.common.response") %> (<%= @model_completion.response_format %>)</h5>
  </div>
  <div class="card-body">
    <% if @model_completion.response_format_json? %>
      <h5 class="mb-0"><%= t("raif.admin.common.raw") %></h5>
      <pre class="pre-wrap"><%= @model_completion.raw_response %></pre>

      <h5 class="mb-0 mt-4"><%= t("raif.admin.common.prettified") %></h5>
      <% begin %>
        <pre class="pre-wrap"><%= JSON.pretty_generate(@model_completion.parsed_response) %></pre>
      <% rescue StandardError %>
        <%= t("raif.admin.common.invalid_json") %>
      <% end %>
    <% elsif @model_completion.response_format_html? %>
      <h5 class="mb-0"><%= t("raif.admin.common.raw") %></h5>
      <pre class="pre-wrap"><%= @model_completion.raw_response %></pre>

      <h5 class="mb-0 mt-4"><%= t("raif.admin.common.rendered") %></h5>
      <div class="border p-3 bg-light">
        <%= sanitize @model_completion.parsed_response %>
      </div>
    <% else %>
      <pre class="pre-wrap"><%= @model_completion.raw_response %></pre>
    <% end %>
  </div>
</div>
