<h1 class="my-4"><%= t("raif.admin.common.model_tool_invocations") %></h1>

<div class="row">
  <div class="col-12">
    <% if @model_tool_invocations.any? %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-light">
            <tr>
              <th><%= t("raif.admin.common.id") %></th>
              <th><%= t("raif.admin.common.created_at") %></th>
              <th><%= t("raif.admin.common.source") %></th>
              <th><%= t("raif.admin.common.tool_type") %></th>
              <th><%= t("raif.admin.common.status") %></th>
              <th><%= t("raif.admin.common.tool_arguments") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "raif/admin/model_tool_invocations/model_tool_invocation", collection: @model_tool_invocations %>
          </tbody>
        </table>
      </div>

      <div class="mt-4">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    <% else %>
      <div class="alert alert-info">
        <%= t("raif.admin.common.no_model_tool_invocations") %>
      </div>
    <% end %>
  </div>
</div>
